.resizebaleDiv {
  white-space: nowrap;
  width: 150px;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: horizontal;
  direction: ltr;
  cursor: pointer;
}

.colBorder {
  border: 1px solid rgb(182, 182, 182);
  border-right: none;
  border-left: none;
  border-top: none;
}

.row td {
  color: '#ffffff' !important;
}
